{% extends "base/main.html" %}

{% block content %}

<div class='header-bar'>
    <div>
        <h1> Hello {{request.user|title}} </h1>
        <h3 style="margin:0"> You have <i> {{count}} </i> incomplete task{{count|pluralize}}</h3>

    </div>

    {% if request.user.is_authenticated %}
    {% comment %} <p> {{request.user}} </p> {% endcomment %}
    {% comment %} <a href="{% url 'logout' %}"> Logout </a> {% endcomment %} <!-- This is using GET request and it's not allowed anymore in Django! Only vie POST -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    {% else %}
        <a href="{% url 'login' %}"> Login </a>
    {% endif %}

</div>


<hr>

<h1> My ViewList Template {{color}} </h1>

<p><a href="{% url 'task-create' %}"> Add Task to your Task List </a></p>

<form method='GET'>
    <input type="text" name="search-area" value={{search_input}}/>
    <input type="submit" value="Search"/>
</form>

<table>
    <tr>
        <th> Item </th>
        <th></th>
    </tr>

    {% for task in tasks %}

    <tr>

       <td> {{task.title}} </td>
       {% comment %} <td> <a href="{% url 'task' task.id %}"> View Task </a> </td> {% endcomment %}
       <td> <a href="{% url 'task-update' task.id %}"> Edit Task </a> </td>
       <td> <a href="{% url 'task-delete' task.id %}"> Delete Task </a> </td>
    
    </tr>

    {% empty %}
    <h3> No items in list </h3>

    {% endfor %}

</table>


{% endblock content %}
