
{% if request.user.is_authenticated %}
    <p> {{request.user}} </p>
    {% comment %} <a href="{% url 'logout' %}"> Logout </a> {% endcomment %} <!-- This is using GET request and it's not allowed anymore in Django! Only vie POST -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>

{% else %}
    <a href="{% url 'login' %}"> Login </a>

{% endif %}

<hr>

<h1> My ViewList Template {{color}} </h1>

<p><a href="{% url 'task-create' %}"> Add Task to your Task List </a></p>

<form method='GET'>
    <input type="text" name="search-area"/>
    <input type="submit" value="Search"/>
</form>

<table>
    <tr>
        <th> Item </th>
        <th></th>
    </tr>

    {% for task in tasks %}

    <tr>

       <td> {{task.title}} </td>
       <td> <a href="{% url 'task' task.id %}"> View Task </a> </td>
       <td> <a href="{% url 'task-update' task.id %}"> Edit Task </a> </td>
       <td> <a href="{% url 'task-delete' task.id %}"> Delete Task </a> </td>
    
    </tr>

    {% empty %}
    <h3> No items in list </h3>

    {% endfor %}

</table>
