
{% extends "base/main.html" %}

{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Back</a> <!-- Back arrow symbol code -->
</div>

{% comment %} <a href="{% url 'tasks' %}">Go Back</a> {% endcomment %}

<!-- Send the form to the same url, therefore action is empty string -->
<!--
    Note: Django already created the ModelForm and it passes it in, and by default the form name
    is already 'form'
-->

<div class="card-body">
    <form action="" method="POST"> 
        {% csrf_token %}
    
        {{form.as_p}}
    
        <input class="button" type="submit" value="Submit">
    
    </form>
</div>


{% endblock content %}